@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/* ---------------------------------------------------- pallet */

/* #1C1C1C dark grey*/
/* #3B3B3B light grey*/
/* #FFE002 bright gold*/
/* #FFB606 gold*/
/* #B28228 dirty gold*/
/* #650000 dark red */
/* #850000 bright red*/
/* #005841 light green*/
/* #003924 darg green */
/* #f6f6f6 White */

/* ---------------------------------------------------- colors */

.border{
    border: solid 10px red;
}

.white{
    background-color: #f6f6f6;
}

.dark-grey{
    background-color: #1c1c1c;
}

.light-grey{
    background-color: #3b3b3b;
}

.bright-gold{
    background-color: #ffe002;
}

.gold{
    background-color: #ffb606;
}

.dirty-gold{
    background-color: #b28228;
}

.dark-red{
    background-color: #650000;
}

.bright-red{
    background-color: #850000;
}

.light-green{
    background-color: #005841;
}

.dark-green{
    background-color: #003924;
}

.top-bottom-border{
    border-top: 5px solid #b28228;
    border-bottom: 5px solid #b28228;
}
/* ---------------------------------------------------- title page */
.bg-image-title-page{
    background-image: url("images/nq_bike.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    border: solid black 40px;
    height: 95vh;
    }

.title-page-border{
        border-top: 10px solid rgba(212,175,55,0.3);
        border-bottom: 10px solid rgba(212,175,55,0.3);
    }

.title-page-text-main{
      color:  rgba(212,175,55,0.3);
      font-family: 'Oswald', sans-serif;
      letter-spacing: 10px;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: transparent;
      text-align: center;
      margin-top: 375px;
    }

.title-page-text-main:hover{
      color: #b28228;
      text-decoration: none;
    }

.title-page-border:hover{
    color: #b28228;
        border-top: 10px solid #b28228;
        border-bottom: 10px solid #b28228;
        text-decoration: none;
    }

      /* ----------------------------------------------- Special padding/margins/text */

h1,h2.h3,h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.no-gutters{
    margin-right: 0;
    margin-left: 0;
}

.menu-buffer{
    background-color: #222222;
    height: 11vh;
    border-bottom: 5px solid rgba(212,175,55,0.3);
}

.no-margin-padding{
    margin: 0;
    padding: 0;
}

.no-padding{
    padding-left: 0; 
    padding-right: 0;
}

.no-margin{
    margin: 0;
}

/* ---------------------------------------------------- header */

.menu-title{
    color: #b28228;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 10px;
}

.menu{
    color: #b28228;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    height: 40px;
    padding-top: 5px;
    margin-right: 0;
    margin-left: 0;
    list-style-type: none;
}
.menu a{
    color: inherit;
}

.menu:hover{
    background-color: #b28228;
    color: #1c1c1c;
    text-decoration: none;
}

.menu a:hover{
    color: #1c1c1c;
    text-decoration: none;
}

.menu-sticks{
    position: fixed;
    z-index: 2;
}

.menu-padding{
    padding-left: 0%;
}

/* ----------------------------------------------------  Footer */

.footer-text{
    color: #b28228;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    height: 10vh;
    padding-top: 4vh;
    margin-right: 0;
    margin-left: 0;
    list-style-type: none;
    height: 60px;
    margin-bottom: 30px;
}

/* ----------------------------------------------------  welcome page */

.welcome-bg-image{
    background-image: url(../assets/images/norhtern_quarter_1.jpeg);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    border: solid black 4vh;
}

.welcome-text{
    color:  #b28228;
    background-color:rgba(34, 34, 34, .8);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 300px;
}

/* ---------------------------------------------------- CV */

header {
    margin: 0;
}

.logo{
    background: url('../assets/images/happy_man.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.name{
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #f6f6f6;
    letter-spacing: 10px;
    margin-left: 50px;
    }

.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #f6f6f6;
    letter-spacing: 10px;
    margin-left: 50px;
   }

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #B28228;
    height: 120px;
}

.menuitem a i{
    padding: 22px;
    display: block;
    color: #B28228;
    font-size: 26px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 2px;
    color: #B28228;
}

.menuitem:hover{
    background-color: #B28228;
    text-decoration: none;
    color: #650000;
}

.menuitem a:hover{
    width: 100%;
    text-decoration: none;
    color: #650000;
    height: 120px;
    text-decoration: none;
}

.menuitem a i:hover{
    padding: 22px;
    display: block;
    color: #650000;
    font-size: 50px;
    text-decoration: none;
}

.menuitem span:hover{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0;
    font-weight: 300px;
    letter-spacing: 2px;
    color: #650000;
}

.cv-timeline{
    
}

.cv-year-title-row{
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    color: #f6f6f6;
    margin-left: 50px;
    margin-top: 20px;
    width: 100%;

    
}

.text-rotate{
    writing-mode:vertical-lr ;
    text-align: right;
    margin: 0;
    padding: 0;
}

.cv-year-row div{
    border: solid 2px white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.cv-year-row div ul li{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    border-bottom: solid 1px #005841;
}
/* ---------------------------------------------------- Ethos */


.ethos-bg{
    background-image: url(..//assets/images/hexed_logo_blank.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.ethos-text h3{
    font-family: 'Oswald', sans-serif;
    color: #B28228;
    background-color: rgba(23.1, 23.1, 23.1, 0.7);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    height: 50px;
    margin-top: 5px;
    padding-top: 7.5px;
}

.ethos-text p{
    font-family: 'Raleway', sans-serif;
    color: #f6f6f6;
    background-color: rgba(23.1, 23.1, 23.1, 0.7);
    letter-spacing: 10px;
    margin-top: 5px;
    padding: 10px;
}

/* ---------------------------------------------------- history */

.history-image{
    background-image: url(..//assets/images/white_rabbit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 500px;
}

.history-text h3{
    font-family: 'Oswald', sans-serif;
    color: #f6f6f6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    height: 50px;
    margin-top: 5px;
    padding-top: 10px;
}
.history-text p{
    font-family: 'Raleway' sans-serif;
    color: #f6f6f6;
    margin-top: 15px;
    padding: 10px;
}

/* ---------------------------------------------------- contact */



